params {
    // loom_input = 'https://raw.githubusercontent.com/irlvinicius/NextFlowPySCENIC/main/docs/pbmc10k_unfiltered.loom'
    f_mtx_dir = 'matrix/'
    loom_filtered = 'filtered.loom'
    loom_output = 'pyscenic_integrated-output.loom'

    thr_min_genes = 200
    thr_min_cells = 3
    thr_n_genes = 5000
    thr_pct_mito = 0.25
    outdir = "output"

    // threads = 4    
    // cpus = 4
    // memory = '8 GB'
    // SCENIC parameters

    TFs = 'https://raw.githubusercontent.com/irlvinicius/nextflow_pyscenic/refs/heads/main/data/references/TFs/hs_hgnc_curated_tfs.txt'

    motifs = '../data/motifs-v9-nr.hgnc-m0.001-o0.0.tbl'

    db = "../data/hg38__refseq-r80__10kb_up_and_down_tss.mc9nr.genes_vs_motifs.rankings.feather"

    pyscenic_output = "pyscenic_output.loom"

    grn = "grnboost2"

    // parameters for reading loom files:
    cell_id_attribute = "CellID"
    gene_attribute = "Gene"    

    seed = 777
    thr_min_genes = 1
    thr_min_cells = 1
    thr_n_genes = 5000
    thr_pct_mito = 0.25

    // pySCENIC container location
    pyscenic_container = 'aertslab/pyscenic:0.9.19'
}